<div class="container">
    <h1>Hello</h1>
    <!-- <hr>
    <app-test></app-test>
    <hr>
    <app-propertbinding></app-propertbinding> -->
    <hr>
    <!-- <app-trv></app-trv> -->
    <!-- <app-directives-demo></app-directives-demo> -->
    <!-- <app-pipes></app-pipes> -->
    <!-- <app-directives></app-directives> -->
    <!-- <app-child (childEvent)="message = $event" [parentData]="name"></app-child>
    <h2>Data fro the CHILD: {{message}}</h2> -->
    <app-employee-list></app-employee-list>
    <app-employee-detail></app-employee-detail>
</div>